

<div class="row-justify content-center">
    <table class="table" border="1">
     <thead class="table-dark">
       <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Username</th>
         <th>Company</th>
         <th>Email</th>
         <th>Phone</th>
         <th>Website</th>
         <th>Address</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let user of userData">
         <td>{{arr1.id}}</td>
         <td>{{arr1.name}}</td>
         <td>{{arr1.username}}</td>
         <td>{{arr1.company.name}}</td>
         <td>{{arr1.email}}</td>
         <td>{{arr1.phone}}</td>
         <td>{{arr1.website}}</td>
         <td>{{arr1.address.street}},{{arr1.address.city}}-{{arr1.address.zipcode}}</td>
       </tr>
     </tbody>  
   </table> 
</div>