<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-left rounded shadow py-2">
            <form [formGroup]="myReactiveForm">
                <h2 style="text-align:center"> Registration Form</h2>
                <div class="form-group mb-1">
                    <label for="firstname">First Name</label>
                    <input type="text" formControlName="firstname" class="form-control" id="firstname">
                    <div class="form-text text-danger" 
                    *ngIf="!myReactiveForm.get('firstname').valid && myReactiveForm.get('firstname').touched">
                        First name is required.
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for="lastname">Last Name</label>
                    <input type="text" formControlName="lastname" class="form-control" id="lastname">
                    <div class="form-text text-danger" 
                    *ngIf="!myReactiveForm.get('lastname').valid && myReactiveForm.get('lastname').touched">
                    Last name is required.
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for="age">Age</label>
                    <input type="number" formControlName="age" class="form-control" id="age">
                    <div class="form-text text-danger" 
                    *ngIf="!myReactiveForm.get('age').valid && myReactiveForm.get('age').touched">
                    Age is required.
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email">
                    <div class="form-text text-danger" 
                    *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">
                    Email is required.
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for="phone">Phone</label>
                    <input type="text" formControlName="phone" class="form-control" id="phone">
                    <div class="form-text text-danger" 
                    *ngIf="!myReactiveForm.get('phone').valid && myReactiveForm.get('phone').touched">
                    Phone number is required.
                    </div>
                </div>
                <div class="from-group mb-1">
                    <label for="city">Select City</label>
                    <select formControlName="city" id="city" class="form-control">
                        <option value="Mumbai">Mumbai</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Delhi">Delhi</option>
                    </select>
                    <div class="form-text text-danger" 
                    *ngIf="!myReactiveForm.get('city').valid && myReactiveForm.get('city').touched">
                    City name is required
                    </div>
                </div>
                <div class="m-1">Gender</div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" value="m" id="male" formControlName="gender">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" value="f" id="female" formControlName="gender">
                    <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                        <div class="form-text text-danger"
                        *ngIf="!myReactiveForm.get('password').valid && myReactiveForm.get('password').touched">
                            Password is required.
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="cpassword" class="form-control" id="cpassword" formControlName="cpassword">
                        <div class="form-text text-danger" 
                        *ngIf="!myReactiveForm.get('cpassword').valid && myReactiveForm.get('cpassword').touched">
                            Confirm Password is required.
                        </div>
                    </div>
                </div>
                <div class="col-6 offset-3">
                    <div class="d-grid">
                        <button type="submit" [disabled]="myReactiveForm.invalid" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>